h1, h2 {
  font-family: "Alfa Slab One";
  margin: 0px 0px;
}

h1 {
  color: #ff0000;
  font-size: 60px;
}

h2 {
  color: #ffffff;
  font-size: 40px;
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex;
}

.panel {
  width: 500px;
  margin: 5%;
}
